.container1{
    background: url(/TablasDiv/Ejercicio18/img/f01.png) left bottom repeat-x,
    url(/TablasDiv/Ejercicio18/img/f02.png) left bottom no-repeat,
    url(/TablasDiv/Ejercicio18/img/f03.png) left top repeat-x;
    width: 160pt;
    height: 80pt;
    border-style: solid;
    border-color: blue;
    background-color: rgb(178, 217, 248);     
}
.container2{
    margin-top: 20px;  
    margin-left: 15px;
    background: url(/TablasDiv/Ejercicio18/img/f01.png) left bottom repeat-x,
    url(/TablasDiv/Ejercicio18/img/f02.png) left bottom no-repeat,
    url(/TablasDiv/Ejercicio18/img/f03.png) left top repeat-x;
    width: 330pt;
    height: 250pt;
    border-style: solid;
    border-color: rgb(241, 40, 40);
    background-color: rgb(178, 217, 248);    
}
.container3{
    margin-top: 20px; 
    background: url(/TablasDiv/Ejercicio18/img/f01.png) left bottom repeat-x,
    url(/TablasDiv/Ejercicio18/img/f02.png) left bottom no-repeat,
    url(/TablasDiv/Ejercicio18/img/f03.png) left top repeat-x;
    width: 160pt;
    height: 80pt;
    border-style: solid;
    border-color: blue;
    background-color: rgb(178, 217, 248);     
}










